header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 800px;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(black, 0.05);

  img {
    height: 50px;
  }

  h1 {
    font-family: 'Satisfy', cursive;
    color: #333;
  }

  form {
    display: none;
  }

  iframe {
    display: none;
  }

  .text {
    display: flex;
    align-items: center;

    h1,
    h2 {
      margin: 0;
      padding: 0;
    }

    h2 {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(black, 0.5);
    }
  }
}
